@mixin search-log__temp($position) {
    position: $position;
    right: 0;
    margin: 0 16px 0 0;
    min-width: 108px;
    height: 24px;
    font-size: $regular-size;
    line-height: 24px;
    text-align: right;
}