// color
$primary:#1C293D;
$secondary:#B4B4B4;
$lines:#E9E9E9;
$white:#FFFFFF;
$accentDark:#47B1E6;
$accentLight: #E4F0FA;

// text parameters
$bold: 600;
$regular: 400;
$thin: 200;

$line-height: 24px;

$regular-size: 16px;
$bigger-size: 20px;